$sane-serif:'Fira Sans', sans-serif;
$body-font:'Nunito', sans-serif;
$primaryColor:#001912;
$secondaryColor: linear-gradient(rgb(0 25 18) 0px, rgb(10 199 146) 100%);
$grayColor: #cacece;
$widget-bg:#94232d;