<footer>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
				<div class="footer-logo">
                    <ng-container *ngFor="let item of singleDataArray">
                        <img *ngIf="item.footer_logo" src="https://www.tuckerbox.com.au/images/{{ item.footer_logo }}" alt="" title="">
                    </ng-container>
                    
					
					<!-- <ul>
						<li><a href='' target='_blank'>&nbsp;</a></li>
						<li><a href='' target='_blank'>&nbsp;</a></li>
					</ul> -->
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-9 col-xl-9">
				<div class='footer-map'>
					
					<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13060.023269097548!2d148.0952541!3d-35.0815874!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b183e82d7438d09%3A0xe622beffbb4d6787!2sTuckerbox%20Motor%20Inn!5e0!3m2!1sen!2sin!4v1686378793110!5m2!1sen!2sin" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
				</div>
			</div>
			<div class="col-12">
				<div class='footer-menu'>
					<ul>
					    <li><span></span>&nbsp;<a routerLink="/" title='$_bottombar_name'>home</a></li>
					    <li *ngFor="let menuName of footerMenuObj">&nbsp;<a routerLink="/{{ menuName['page_name']}}" title='$_bottombar_name'>{{ menuName['page_name']}}</a></li>
					</ul>
				</div>
			</div>
			<div class="col-12">
                <ng-container *ngFor="let item of singleDataArray">                    
				    <p *ngIf="item.hotel_name && item.hotel_created_year" class='reserve'>&copy; Copyright&nbsp;{{item.hotel_created_year}}, {{ item.hotel_name }}. All Rights Reserved.</p>
                </ng-container>
			</div>
		</div>
	</div>
</footer> 