<section class="contents">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="txt-formation" *ngFor="let pageData of pageArrayData">                    
					<h2 *ngIf="pageData.text_type == 'h2'">{{ pageData.text }}</h2>
					<p *ngIf="pageData.text_type == 'p' && pageData.text_type != ''">{{ pageData.text }}</p>                     
				</div>
			</div>

            <div class="col-12 col-lg-4">
                <div class="txt-formation">
                    <h3 class='text-left'>Address</h3><hr>
                                        
                        <ng-container *ngFor="let menuItems of singleDataArray">
                            <p class='text-left'  *ngIf="menuItems.hotel_address != ''"><i class="bi bi-houses-fill"></i> &nbsp;{{menuItems.hotel_address }}</p>
                        </ng-container>
                                                                
                    <p class='text-left'>                        
                        <ng-container *ngFor="let menuItems of singleDataArray">
                            <a  *ngIf="menuItems.hotel_phone" href='tel:{{menuItems.hotel_phone }}'><i class="bi bi-telephone-fill"></i> &nbsp;{{menuItems.hotel_phone }}</a>
                        </ng-container>
                    </p>
                    <p class='text-left'>
                        <ng-container *ngFor="let menuItems of singleDataArray">
                            <a href='mailto:{{ menuItems.hotel_email }}' title='topbar_name' *ngIf="menuItems.hotel_email">
                                <i class="bi bi-envelope-at"></i>&nbsp;
                                {{ menuItems.hotel_email }}	
                            </a>
                        </ng-container>
                    </p>                    
                </div>
            </div>
            <div class="col-12 col-lg-8">
                <div class="dropLine_form w-80">
                    <h3 class='text-left'>Drop Your Message Here!</h3><hr>
                    <form id='contact_form' class='row align-items-center' method="post">
                        <div class="mb-5 pr-2 w-50">
                            <input type="text" class="form-control" name='fname' id="fname" placeholder="Name" required>
                        </div>
                        <div class="mb-5 w-50">
                            <input type="email" class="form-control" name='email' id="email" placeholder="Email" required>
                        </div>
                        <div class="mb-5 w-50 pr-2">
                            <input type="text" class="form-control" name='phone' id="phone" placeholder="contact no." required>
                        </div>
                        <div class="mb-5 w-50">
                            <textarea row='5' class="form-control" name='message' id="message" placeholder="Message" required></textarea>
                        </div>
                        <input type="hidden" name="token_generate" id="token_generate">
                        <div class="col-6">
                            <button id="submit_form" type="submit" class="btn btn-dark" name="enquiry">Send</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-12"><hr>
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13060.023269097548!2d148.0952541!3d-35.0815874!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b183e82d7438d09%3A0xe622beffbb4d6787!2sTuckerbox%20Motor%20Inn!5e0!3m2!1sen!2sin!4v1686378793110!5m2!1sen!2sin" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

                
            </div>
		</div>
	</div>
</section>